@charset "utf-8";
/* CSS Document */

/*My Custom Style Sheet*/
/*I will first import bootstarp css*/

@import url(bootstrap.css);
/*now my custom styles*/
a.nodesign:link {color:  #FFF;}      /* unvisited link */
a.nodesign:visited {color:#fff;}  /* visited link */
a.nodesign:hover {color:#fff;}  /* mouse over link */
a.nodesign:active {color:#fff;}  /* selected link */ 

#holder {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom:-5px;
}
#spanbg {
	background-color: transparent;
	margin-top:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#page {
	background-color: #FFF;
	border: 1px solid #d4d4d4;
	min-height: 100%;
	margin-bottom:-5px;
}


footer {
	background-color:#666;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-bottom: -1px;
	height:100px;
}


h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}

p.textbox {
	padding-left:20px;
	padding-right:20px;
	text-align:justify;
}

p.contenttext {
	padding-left:50px;
	padding-right:50px;
	text-align:justify;
}

.span3, {
 background-color:#fff;
 margin-top:20px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 border-radius: 10px;
}
/*h1 {
	font-family: 'Crafty Girls', cursive;
	background-color: #FDCEF5;
	
	}*/

